

<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Total', 'Completed', 'Uncompleted'],
            datasets: [{
                label: 'Test Graph',
                data: [{{total_data}},
                {{completed_data}}, 
                {{uncompleted_data}}
            ],
                backgroundColor: [
                    'blue',
                    'green',
                    'yellow',    
                ],
                borderColor: [
                    'blue',
                    'green',
                    'yellow',
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>